*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

.App {
  text-align: center;
  background-image: url(/public/images/buildbackground.webp);
  background-position: 50% 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: red;
  height: 100vh;
  width: 100vw;
  padding: 3rem;

}

.schedule-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  color: white;
}

.schedule-container h3{
  font-size: 2rem;
  font-weight: bold;
}

.schedule{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.schedule-item{
  display: flex;
  gap: 1rem;
}
.schedule-item-silenced{
  opacity: .6;
}

.achieved{
  text-decoration: line-through;
}

.seasons-link{
  color: white;
}

/* 
Count down */

.demo-count-down{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  justify-content: flex-end;
  align-items: center;
}

.general-time-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.days-countdown{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.days-span{
  font-size: 6rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 5rem;
  padding: 0;
}

.days-span-mini{
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.demo-desc{
  font-size: 1.5rem;
}

.demo-desc-timer{
  font-size: 1.3rem;
  display: flex;
  gap: 1.3rem;
  opacity: .7;
}

/* middle folder */
.updates-container{
  display: flex;
  gap: 3rem;
}

/* folder object */
.folder{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.folder:active{
  transform: scale(1.1);
}


.folder-img-container{
  width: 5rem;
  height: 5rem;

}

.folder-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-title-name{
  font-size: 1.2rem;
  color: white;
  
}

/* folder section */

.folders{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem
}

/* Modals */
.modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.modal{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25rem;
  height: 25rem;
  background-color: black;
  border: .1rem solid white;
  position: absolute;
  right: 10%;
  top: 10%;
  color: white;

}
.modal-item{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.modal-body{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 2rem;
}
.modal-item-title{
  font-size: 1.5rem;
}

.modal-item-body{
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}

.modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem .5rem;
  background-color: white;
  color: white;
  background-image: url(/public/images/bar.png);
}

.modal-header span{
  font-size: 2rem;
  background-color: black;
}

.modal-header:hover{
  cursor:grab;
}

.modal-header:active{
  cursor:grabbing;
}