*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

.App {
  text-align: center;
  background-image: url(/public/images/buildbackground.webp);
  background-position: 50% 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: red;
  height: 100vh;
  width: 100vw;
  padding: 3rem;

}

.schedule-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  color: white;
}

.schedule-container h3{
  font-size: 2rem;
  font-weight: bold;
}

.schedule{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.seasons-link{
  color: white;
}

/* 
Count down */

.demo-count-down{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  justify-content: flex-end;
}

.general-time-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.days-span{
  font-size: 6rem;
}

.demo-desc{
  font-size: 1.5rem;
}

.demo-desc-timer{
  font-size: 1.3rem;
  display: flex;
  gap: 1.3rem;
}

/* middle folder */
.updates-container{
  display: flex;
  gap: 3rem;
}

/* folder object */
.folder{
  display: flex;
  flex-direction: column;
}


.folder-img-container{
  width: 3rem;
  height: 3rem;

}

.folder-img{
  width: 100%;
  height: 100%;
}