@import url('https://fonts.cdnfonts.com/css/calculator');
body {
  margin: 0;
  font-family: 'Calculator', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 170%;
  overflow: hidden!important;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
