@import url('https://fonts.cdnfonts.com/css/calculator');
@import url('https://fonts.cdnfonts.com/css/century-gothic-paneuropean');

body {
  margin: 0;
  /* font-family: 'Calculator', sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-size: 120%;
  /* overflow: hidden!important; */
  background-color: black;
  font-family: 'Century Gothic Paneuropean', sans-serif;
                                                

}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Airstrike Outline';
  font-style: normal;
  font-weight: 400;
  src: local('Airstrike Outline'), url('https://fonts.cdnfonts.com/s/12472/airstrikeout.woff') format('woff');
}

@import url("https://p.typekit.net/p.css?s=1&k=oov2wcw&ht=tk&f=39203&a=85994746&app=typekit&e=css");

